.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 5rem;
}
.result__message {
  font-size: 2rem;
  font-weight: bold;
  color: #ec5d57;
  text-align: center;
  background-color: hsl(56, 45%, 76%);
  padding: 1rem;
  border-radius: 2rem;
}
.result__button {
  padding: 1rem;
  font-size: 1.4rem;
  color: white;
  background-color: #9ae226;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border: 0px;
  border-radius: 2rem;
  cursor: pointer;
}
.result__button:hover {
  transition-duration: 0.2s;
  box-shadow: 0 0 5px #4e4e4c;
}
