.question {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 100%;
}
.question button:not([disabled]):hover {
  transition-duration: 0.2s;
  box-shadow: 0 0 5px #4e4e4c;
}

.question__counter {
  height: 1rem;
  margin: 0;
  text-align: left;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.question__counter h3 {
  margin: 0px;
}
.color {
  background-color: #ec5d57;
  background-color: #dfe656;
  background-color: #fbf8cc;
  background-color: #f9928e;
  background-color: #fdf29c;
  background-color: #ecce24;
}

.question__question {
  padding: 10px 20px;
  margin: 0px;
  background-color: hsl(56, 45%, 76%);
  border-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  position: relative;
}
.question__error {
  background-color: #ff0800;
  text-align: center;
  border-radius: 1rem;
  padding: 8px;
  color: rgb(255, 255, 255);
  margin: 0px;
  font-size: 1rem;
  word-spacing: 5px;
}
.question__answer_array {
  width: 100%;
  height: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /* grid-template-columns: fit-content(40%); */
  align-items: center;
  gap: 1rem;
}
.answer {
  background-color: hsl(56, 88%, 83%);
  padding: 1rem;
  font-size: 1.4rem;
  border: 0px;
  border-radius: 48px;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  cursor: pointer;
  position: relative;
}

.question__controls {
  height: 10%;
  display: flex;
  justify-content: space-evenly;
}
.question__controls button {
  color: white;
  background-color: #85ce42;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border: 0px;
  width: 8rem;
  border-radius: 1rem;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
}

.question__controls--quit {
  background-color: #f9928e !important;
}

.select {
  background-color: #85ce42;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.wrong {
  background-color: #ec5d57;
  color: white;
}
