.app {
  height: 100vh;
  width: 100vw;
}

.app__wrapper {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
.app__wrapper__content {
  grid-area: 2 / 3 / 6 / 6;
  background-color: #fbf8cc;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 13px 27px -5px,
    rgba(214, 214, 214, 0.3) 0px 8px 16px -8px;
  padding: 2rem;
}

.color {
  background-color: #ec5d57;
  background-color: #dfe656;
  background-color: #fbf8cc;
  background-color: #f9928e;
  background-color: #fdf29c;
  background-color: #ecce24;
}
