@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

* {
  font-family: "Inter", sans-serif;
}

body {
  background-image: linear-gradient(
    320deg,
    rgb(248, 101, 96) 0%,
    rgb(243, 219, 124) 67%,
    hsl(59deg 76% 79%) 87%,
    hsl(55deg 90% 86%) 96%,
    hsl(53deg 95% 82%) 100%,
    hsl(54deg 86% 91%) 100%
  );
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
}
#root {
  height: 100%;
  width: 100%;
}
